.header {
    background-color: #0300C2;
    width: 100%;
    height: 100px;
    float: left;
    display: flex;
}

body {
    background-color: #EbEBEB;
    padding: 0%;
}

.logo {
    width: 22%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Snippet", sans-serif;
    font-size: 50px;
    font-weight: 400;
    stroke: #EbEBEB;
    color: #EbEBEB;
}

.loginRegister {
    width: 30%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;    
}

@font-face {
    font-family: 'Snippet';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/snippet/v21/bWt47f7XfQH9Gupu6vjKfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

svg {
	font-family: "Snippet", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 2s infinite alternate;
	stroke-width: 2;
	stroke: #3F3CFC;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(3,0,194,0); stroke: rgba(63,60,252,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(3,0,194,0); stroke: rgba(63,60,252,1); }
	80%  {fill: rgba(3,0,194,0); stroke: rgba(63,60,252,1); stroke-width: 3; }
	100% {
		fill: rgba(3,0,194,1); stroke: rgba(63,60,252,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
    background-color: #FFFFFF;
}












input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input::placeholder {
    color: rgb(173, 168, 168);
}

.inputDefault {

    border: 2px solid #3f3cfc;
}

.inputHover {
    border: 2px solid #3f3cfc;
    background-color: rgb(250, 247, 247);
}

.inputHover::placeholder {
    color: rgb(158, 154, 154);
}

.inputPressed {
    border: 3px solid #0300C2;
}

.inputPressed:focus {
    border: 3px solid #0300C2;
}

.inputOff {
    border: 2px solid rgb(236, 234, 234);
    background-color: rgb(236, 234, 234);
}

.inputOff::placeholder {
    color: rgb(158, 154, 154);
}

.inputError {
    border: 3px solid #c20000;
}

.inputError::placeholder {
    color: #c20000;
}

button {
    width: 130px;
    height: 50px;
    border-radius: 50px;
}

.primary {
    border: 0;
    background-color: #0300C2;
    color: #FFFFFF;
}

.secundary {
    background-color: #EDEDED;
    border: 3px solid #0300C2;
    color: #0300C2;
    font-weight: 600;
}

.terciary {
    background-color: #FFFFFF;
    border: 0;
    color: #0300C2;
    font-weight: 600;
}

.primary:hover {
    border: 0;
    background-color: #3f3cfc;
    color: #FFFFFF;
}

.secundary:hover {
    background-color: rgb(236, 234, 234);
    border: 3px solid #3f3cfc;
    color: #3f3cfc;
    font-weight: 600;
}

.terciary:hover {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0;
    color: #3f3cfc;
    font-weight: 600;
    border-bottom: 1px solid #3f3cfc;
    height: 20px;
    width: 55px;
}

.primary:focus {
    border: 0;
    background-color: #0300C2;
    color: #FFFFFF;
}

.secundary:focus {
    background-color: #FFFFFF;
    border: 3px solid #0300C2;
    color: #0300C2;
    font-weight: 600;
}

.terciary:focus {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0;
    color: #0300C2;
    font-weight: 600;
    border-bottom: 1px solid #0300C2;
    height: 20px;
    width: 55px;
}

.primaryOff {
    border: 0;
    background-color: rgb(236, 234, 234);
}

.secundaryOff {
    background-color: #FFFFFF;
    border: 3px solid rgb(204, 202, 202);
    font-weight: 600;
    color: rgb(204, 202, 202);
}

.terciaryOff {
    background-color: #FFFFFF;
    border: 0;
    color: #0300C2;
    font-weight: 600;
}